<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start"
                     defaultHref="/">
          <ion-back-button></ion-back-button>
        </ion-buttons>
    <ion-title>Equipos</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card class="ion-padding">
    <ion-item color="primary">
      <ion-icon name="trophy-outline"
                class="ion-padding">
      </ion-icon>
      <ion-label class="titulo-equipo">
        Pachuca
      </ion-label>
    </ion-item>
    <ion-card-content>
      <ion-img class="img" src="/assets/pachuca.png"> </ion-img>
      <br>
      <br>
      <br>
     <ion-label class="text-nombre">
      Nombre:
    </ion-label>
    <ion-label>
      Pachuca
    </ion-label>
    <br>
    <ion-label class="text-nombre">
      Siglas:
    </ion-label>
      <ion-label>
        PAC
      </ion-label>
      <br>
    <ion-label class="text-nombre">
      Director tecnico:
    </ion-label>
      <ion-label>
       Juan Modesto
      </ion-label>
    </ion-card-content>
    <ion-button expand=""
                color="warning" 
                routerLink="/jugadores">
      Ver Mas..
    </ion-button>
  </ion-card >

  <ion-card class="ion-padding">
    <ion-item color="primary">
      <ion-icon name="trophy-outline"
                class="ion-padding">
      </ion-icon>
      <ion-label class="titulo-equipo">
        Leon
      </ion-label>
    </ion-item>
  
    <ion-card-content>
      <ion-img class="img" src="/assets/leon.jpg"> </ion-img>
      <br>
      <br>
      <br>

     <ion-label class="text-nombre">
      Nombre:
    </ion-label>
    <ion-label>
      Leon
    </ion-label>
    <br>
    <ion-label class="text-nombre">
      Siglas:
    </ion-label>
      <ion-label>
        LEO
      </ion-label>
      <br>
    <ion-label class="text-nombre">
      Director tecnico:
    </ion-label>
      <ion-label>
       Ricardo Felix
      </ion-label>

    </ion-card-content>

    <ion-button expand=""
                color="warning" 
                routerLink="/jugadores-l">
      Ver Mas..

    </ion-button>

  </ion-card >

  <ion-card class="ion-padding">
    <ion-item color="primary">
      <ion-icon name="trophy-outline"
                class="ion-padding">
      </ion-icon>
      <ion-label class="titulo-equipo">
        Mangos
      </ion-label>
    </ion-item>
  
    <ion-card-content>
      <ion-img class="img" src="/assets/mangos.png"> </ion-img>
      <br>
      <br>
      <br>

     <ion-label class="text-nombre">
      Nombre:
    </ion-label>
    <ion-label>
      Team Mangos
    </ion-label>
    <br>
    <ion-label class="text-nombre">
      Siglas:
    </ion-label>
      <ion-label>
        TMA
      </ion-label>
      <br>
    <ion-label class="text-nombre">
      Director tecnico:
    </ion-label>
      <ion-label>
       Cesar Paez
      </ion-label>

    </ion-card-content>

    <ion-button expand=""
                color="warning" 
                routerLink="/jugadores-m">
      Ver Mas..

    </ion-button>

  </ion-card >

  <ion-card class="ion-padding">
    <ion-item color="primary">
      <ion-icon name="trophy-outline"
                class="ion-padding">
      </ion-icon>
      <ion-label class="titulo-equipo">
        Nietos
      </ion-label>
    </ion-item>
  
    <ion-card-content>
      <ion-img class="img" src="/assets/nietos.png"> </ion-img>
      <br>
      <br>
      <br>

     <ion-label class="text-nombre">
      Nombre:
    </ion-label>
    <ion-label>
      Nietos
    </ion-label>
    <br>
    <ion-label class="text-nombre">
      Siglas:
    </ion-label>
      <ion-label>
        NIE
      </ion-label>
      <br>
    <ion-label class="text-nombre">
      Director tecnico:
    </ion-label>
      <ion-label>
       Julian Lopez
      </ion-label>

    </ion-card-content>

    <ion-button expand=""
                color="warning" 
                routerLink="/jugadores-n">
      Ver Mas..

    </ion-button>

  </ion-card >

</ion-content>

<ion-footer>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center"> SOCCER 4U </ion-title>
  </ion-toolbar>
</ion-footer>


