<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start"
                     defaultHref="/">
          <ion-back-button></ion-back-button>
        </ion-buttons>
    <ion-title>Jugadores</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="ion-padding">
    <ion-item color="primary">
      <ion-icon name="trophy-outline"
                class="ion-padding">
      </ion-icon>
      <ion-label class="titulo-equipo">
        Jose Luis Perez Lopez
      </ion-label>
    </ion-item>
    <ion-card-content>
      <ion-img class="img" src="/assets/nietos.png"> </ion-img>
      <br>
      <br>
      <br>
     <ion-label class="text-nombre">
      Fecha de nacimiento
    </ion-label>
    <ion-label>
      02/02/2000
    </ion-label>
    </ion-card-content>
  </ion-card >

  <ion-content>
    <ion-card class="ion-padding">
      <ion-item color="primary">
        <ion-icon name="trophy-outline"
                  class="ion-padding">
        </ion-icon>
        <ion-label class="titulo-equipo">
          Jose Luis Perez Lopez
        </ion-label>
      </ion-item>
      <ion-card-content>
        <ion-img class="img" src="/assets/nietos.png"> </ion-img>
        <br>
        <br>
        <br>
       <ion-label class="text-nombre">
        Fecha de nacimiento
      </ion-label>
      <ion-label>
        02/02/2000
      </ion-label>
      </ion-card-content>
    </ion-card >
<ion-content>
  <ion-card class="ion-padding">
    <ion-item color="primary">
      <ion-icon name="trophy-outline"
                class="ion-padding">
      </ion-icon>
      <ion-label class="titulo-equipo">
        Jose Luis Perez Lopez
      </ion-label>
    </ion-item>
    <ion-card-content>
      <ion-img class="img" src="/assets/nietos.png"> </ion-img>
      <br>
      <br>
      <br>
     <ion-label class="text-nombre">
      Fecha de nacimiento
    </ion-label>
    <ion-label>
      02/02/2000
    </ion-label>
    </ion-card-content>
  </ion-card >
  <ion-content>
    <ion-card class="ion-padding">
      <ion-item color="primary">
        <ion-icon name="trophy-outline"
                  class="ion-padding">
        </ion-icon>
        <ion-label class="titulo-equipo">
          Jose Luis Perez Lopez
        </ion-label>
      </ion-item>
      <ion-card-content>
        <ion-img class="img" src="/assets/nietos.png"> </ion-img>
        <br>
        <br>
        <br>
       <ion-label class="text-nombre">
        Fecha de nacimiento
      </ion-label>
      <ion-label>
        02/02/2000
      </ion-label>
      </ion-card-content>
    </ion-card >
  
    <ion-content>
      <ion-card class="ion-padding">
        <ion-item color="primary">
          <ion-icon name="trophy-outline"
                    class="ion-padding">
          </ion-icon>
          <ion-label class="titulo-equipo">
            Jose Luis Perez Lopez
          </ion-label>
        </ion-item>
        <ion-card-content>
          <ion-img class="img" src="/assets/nietos.png"> </ion-img>
          <br>
          <br>
          <br>
         <ion-label class="text-nombre">
          Fecha de nacimiento
        </ion-label>
        <ion-label>
          02/02/2000
        </ion-label>
        </ion-card-content>
      </ion-card >
  <ion-content>
    <ion-card class="ion-padding">
      <ion-item color="primary">
        <ion-icon name="trophy-outline"
                  class="ion-padding">
        </ion-icon>
        <ion-label class="titulo-equipo">
          Jose Luis Perez Lopez
        </ion-label>
      </ion-item>
      <ion-card-content>
        <ion-img class="img" src="/assets/nietos.png"> </ion-img>
        <br>
        <br>
        <br>
       <ion-label class="text-nombre">
        Fecha de nacimiento
      </ion-label>
      <ion-label>
        02/02/2000
      </ion-label>
      </ion-card-content>
    </ion-card >
    <ion-content>
      <ion-card class="ion-padding">
        <ion-item color="primary">
          <ion-icon name="trophy-outline"
                    class="ion-padding">
          </ion-icon>
          <ion-label class="titulo-equipo">
            Jose Luis Perez Lopez
          </ion-label>
        </ion-item>
        <ion-card-content>
          <ion-img class="img" src="/assets/nietos.png"> </ion-img>
          <br>
          <br>
          <br>
         <ion-label class="text-nombre">
          Fecha de nacimiento
        </ion-label>
        <ion-label>
          02/02/2000
        </ion-label>
        </ion-card-content>
      </ion-card >
    
      <ion-content>
        <ion-card class="ion-padding">
          <ion-item color="primary">
            <ion-icon name="trophy-outline"
                      class="ion-padding">
            </ion-icon>
            <ion-label class="titulo-equipo">
              Jose Luis Perez Lopez
            </ion-label>
          </ion-item>
          <ion-card-content>
            <ion-img class="img" src="/assets/nietos.png"> </ion-img>
            <br>
            <br>
            <br>
           <ion-label class="text-nombre">
            Fecha de nacimiento
          </ion-label>
          <ion-label>
            02/02/2000
          </ion-label>
          </ion-card-content>
        </ion-card >
    <ion-content>
      <ion-card class="ion-padding">
        <ion-item color="primary">
          <ion-icon name="trophy-outline"
                    class="ion-padding">
          </ion-icon>
          <ion-label class="titulo-equipo">
            Jose Luis Perez Lopez
          </ion-label>
        </ion-item>
        <ion-card-content>
          <ion-img class="img" src="/assets/nietos.png"> </ion-img>
          <br>
          <br>
          <br>
         <ion-label class="text-nombre">
          Fecha de nacimiento
        </ion-label>
        <ion-label>
          02/02/2000
        </ion-label>
        </ion-card-content>
      </ion-card >

<ion-footer>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center"> SOCCER 4U </ion-title>
  </ion-toolbar>
</ion-footer>
